{% extends './layout/menu.html.twig' %}
{% extends './layout/footer.html.twig' %}

{% block menu %}
	{{ parent() }}
	{% set texto = 'VARIAVEIS' %}
	<h1>
		{{ texto }}
	</h1>

	{% for usuario in usuarios %}
		<h1>
			Nome:
			{{ usuario.nome }}
		</h1>
		<h2>
			Idade:
			{{ usuario.idade }}
		</h2>
		<h2>
			Sexo:
			{{ usuario.sexo }}
		</h2>
		<hr>
	{% else %}
		<h1>
			Array Vazio
		</h1>
	{% endfor %}
{% endblock %}
{% block footer %}{% endblock %}
