{% extends './layout/default.html.twig' %}

{% block default %}
{{ parent() }}

<div class="col-12 text-light">
	<br>
	<h1 class="text-center">
		<i>Funções</i>
	</h1>
	<div class="col-12">
		<h5>
			Funções podem ser chamadas para gerar conteúdo. As funções são chamadas pelo nome seguido de parênteses ( ( ) ) e podem ter argumentos.
		</h5>
	</div>
	<div class="col-12">
		{# SEM NECESSIDADE DE RETORNO CONTROLLER POR ENQUANTO #}
		{# <h2>Retorno controller: </h2>
		<div class="alert alert-secondary" role="alert">
			<code>
				$usuario = [<br>
					&ensp;'nome' => '{{ usuario.nome }}'<br>
				];
			</code>
		</div> #}

		<div class="jumbotron bg-dark text-light">
			<h5>#1 - Por exemplo, a rangefunção retorna uma lista contendo uma progressão aritmética de números inteiros:</h5>
			<div class="alert alert-light" role="alert">
				{{ '{% for i in range(0, 3) %}' }}<br>
					{{ '{% i %}' }},<br>
				{{ '{% endfor %}' }}<br>
				...
				
			</div>
			<p> Retorno </p>
			<div class="alert alert-success" role="alert">
				{% for i in range(0, 3) %}
    				{{ i }},
				{% endfor %}
				...
			</div>
		</div>
	</div>
	{% endblock %}